.card {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  //max-width: 210px;
  padding: 30px;
  position: relative;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }
}

.cardImg {
  max-width: 133px;
  margin-bottom: 15px;
}

.cardFavorite {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.cardName {
  font-size: 14px;
  margin-bottom: 15px;
}

.cardPrice {
  span {
    display: block;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #BDBDBD;
    margin-bottom: 5px;
  }

  b {
    display: block;
    font-weight: 700;
    font-size: 14px;
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardAdd {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
}